<h2 mat-dialog-title>Ingresar nuevo Activo</h2>
<mat-dialog-content class="mat-typography">
  <form action="">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Paso 1">

        <div class="example-container" fxLayout="100%" fxLayoutGap="10%">
          <mat-form-field appearance="standard" >
            <mat-label>Enter some input</mat-label>
            <input matInput #input placeholder="Ex. Nougat">
          </mat-form-field>

          <mat-form-field appearance="standard">
            <mat-label>Select me</mat-label>
            <mat-select>
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </mat-tab>
      <mat-tab label="Paso 2">Content 2</mat-tab>
      <mat-tab label="Paso 3">Content 3</mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Agregar</button>
</mat-dialog-actions>
