<!-- CONTENEDOR DEL COMPONENTE -->
<section class="cuerpo">
  <!-- Contenedora global de la tabla, se aplica fxLayout para asignar la cuadricula de diseño -->
  <div class="tabla" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center">
    <!-- Sección de cabeceras (Titulo, Filtro, Botón), se aplica fxLayout para asignarla cuadricula del diseño -->
    <section fxLayout="row" fxLayout="100vw" fxLayoutAlign="center center" class="upHeader">
      <!-- Titulo de la tabla -->
      <div class="titulo upItem" fxFlex>
        <h2>TABLA</h2>
      </div>

      <!-- Filtro de la tabla  -->
      <div class="filtro upItem" fxFlex>
        <!-- Asignación de fxFlex para el ancho del input de filtro en un 80% del ancho de su espacio -->
        <mat-form-field fxFlex="80%">
          <mat-label>Buscar</mat-label>
          <input matInput type="text" (keyup)="ngHacerFiltro($event.target.value)" name="filtro" placeholder="Ej: Act1"/>
        </mat-form-field>
      </div>

      <!-- Botón agregar, encargado de ejecutar un modal para agregar un nuevo objeto (SOLO VISIBLE EN DESKTOP) -->
      <div class="btnAdd upItem" fxFlex>
        <button (click)="ngOpenDialog()" id="nuevo" mat-raised-button aria-label="Example icon button with a delete icon">
          <span>Agregar</span><mat-icon>add</mat-icon>
        </button>
      </div>
    </section>

    <!-- Contenedor de la Tabla Responsive -->
    <div class="tablita">
      <!-- Tabla Responsive, carga de datos desde el dataSource, el cual almacena los datos traídos por el servicio GET -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- Contenedor del contenido de la tabla (Cabeceras y Celdas)  -->
        <ng-container [matColumnDef]="item.columnDef" *ngFor="let item of acciones" [sticky]="item.fixed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >
            <!-- Varialbe que contiene los títulos de las columnas (Cabeceras) (variable = item.header) -->
            {{ item.header }}
          </th>

          <!-- Contenedor del contenido de la tabla (Celdas) -->
          <ng-container style="text-align: center" class="actionHeader" *ngIf="!item.actions" >
            <td class="filas" mat-cell *matCellDef="let element">
              <!-- Etiqueta con el contenido de cada columna ubicado en celdas capturado en la variable (variable = element[item.columnDef]) -->
              <label class="restLabel">{{ element[item.columnDef] }}</label>
            </td>
          </ng-container>

          <!-- Columna que contiene el menú de acciones de cada fila de la tabla -->
          <td mat-cell *matCellDef="let element" class="action-link">
            <!-- Botón encargado de desplegar un menú con las acciones (Ver más, Editar, Eliminar) -->
            <button class="actions" mat-icon-button [matMenuTriggerFor]="menu">
              <!-- Icono que representa el menú de acciones -->
              <mat-icon>
                <!-- Variable que trae el nombre del icono a utilizar -->
                more_vert
              </mat-icon>
            </button>

            <!-- Menú desplegable con acciones -->
            <mat-menu #menu="matMenu">
              <!-- Botón acción (Ver Más) -->
              <button mat-menu-item (click)="ngClick()">
                <mat-icon color="primary">visibility</mat-icon>
                <span>Ver más</span>
              </button>

              <!-- Botón acción (Editar) -->
              <button mat-menu-item (click)="ngClick()">
                <mat-icon color="accent">settings</mat-icon>
                <span>Editar</span>
              </button>

              <!-- Botón acción (Eliminar) -->
              <button mat-menu-item (click)="ngClick()">
                <mat-icon color="warn">delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Atributo de la tabla, encargado de desplegar las Cabeceras -->
        <tr mat-header-row *matHeaderRowDef="desplegarColumnas; sticky: true"></tr>

        <!-- Atributo de la tabla, encargado de desplegar las Filas -->
        <tr mat-row *matRowDef="let row; columns: desplegarColumnas"></tr>
      </table>
    </div>

    <!-- Paginador de la tabla, encargado de agrupar las páginas para mejor visual -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" style="width: 90%; margin-top: -20px; padding-bottom: 100px;" showFirstLastButtons></mat-paginator>


    <!-- Sección de pie de página -->
    <section class="footer">
      <!-- Botón agregar, encargado de ejecutar un modal para agregar un nuevo objeto (SOLO VISIBLE EN MOBILE) -->
      <div class="botonFlotante">
        <button (click)="ngOpenDialog()" id="nuevo" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </section>
  </div>
</section>
